/*
    Document   : main.css
    Created on : Jul 26, 2013, 5:11:42 PM
    Author     : Greg Bakos <greg@londonfreelancers.co.uk>
    Description:
        Purpose of the stylesheet follows.
*/

root {
  display: block;
}

