td
{
border:0px solid blue;
}
th
{
background-image:url('./img/header.png');
background-repeat:repeat-x;
text-align:left;
padding-top:2px;
padding-bottom:0px;
font-weight:900;
color:#FFFFFF;
}
.tdtop 
{
background-image:url('./img/top_panel.png');
background-repeat:repeat-x;
text-align:right;
padding-top:2px;
padding-bottom:0px;
font-weight:900;
color:#FFFFFF;
}
.tdtest 
{
background-image:url('./img/header.png');
background-size:5px 70px;
background-repeat:repeat-x;
text-align:right;
padding-top:10px;
padding-bottom:0px;
font-weight:900;
color:#FFFFFF;
}
	body {
		font-family: Helvetica;
		font-size: 11px;
		color: #000;
	}
	h3 {
		margin: 0px;
		padding: 0px;	
	}
	.absy {
		position: absolute;
	}
	.suggestionsBox {
		position: relative;
		left: 30px;
		margin: 10px 0px 0px 0px;
		width: 200px;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #fff;
		z-index:1;  
                
                
		
	}
	
	.suggestionList {
		margin: 0px;
		padding: 0px;
		position:relative;
		
	}
	
	.suggestionList li {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
		position:relative;
                
		
	}
	
	.suggestionList li:hover {
		background-color: #659CD8;
		position:relative;
	}
</style>
